.desktop_nav {
	position: fixed; /* Ensure the header stays at the top */
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	padding: 10px 0;
	z-index: 2; /* Place it above the HeroVideo */
}
.menu {
	display: none;
}
.nav_container {
	width: 100%;
	background: transparent;
	padding: 10px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	width: 125px;
	margin-left: -3rem;
}

.list {
	list-style: none;

	display: flex;
	gap: 1em;
}
.list_item a {
	color: #fff;
	padding: 0.5em;
	font-weight: 700;
	border-radius: 10%;
}
.list_item a:hover,
.profile_container button:hover {
	background-color: rgba(255, 255, 255, 0.134);
	backdrop-filter: blur(10px);
}
.profile_container {
	margin-right: -3em;
}
.profile_container button {
	background: transparent;
	border: none;
	border-radius: 10%;
	gap: 0.25em;
}

.icon {
	color: #fff;
}
.mobile_menu {
	display: none;
}
@media (max-width: 70em) {
	.nav_container {
		justify-content: space-between;
		margin-top: 1em;
		padding: 0;
	}
	.logo {
		margin-left: 3em;
	}
	.list {
		display: none;
	}
	.profile_container {
		display: none;
	}
	.menu {
		display: block;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.008);
		backdrop-filter: blur(10px);
		font-size: 1.125rem;
		font-weight: 600;
		border: none;
		border-radius: 10%;
		margin-top: 1em;
		margin-right: 1em;
		padding: 3px 8px;
	}
}
