*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	outline: 0;
	overflow-y: hidden;
	background-color: rgb(248, 249, 251);

	-webkit-font-smoothing: antialiased;
}

body,
input,
button {
	font-size: 16px;
	font-family: 'Gothic A1', sans-serif;
}

button {
	cursor: pointer;
}
a {
	text-decoration: none;
}
.container {
	height: 100vh; /* Set container height to viewport height */
	overflow-y: scroll;
	scroll-snap-type: y mandatory; /* Apply scroll snap behavior */
	overflow-x: hidden;
}
.section {
	height: 100vh;
	scroll-snap-align: start;
}
.normal_scroll {
	/* scroll-snap-align: none; */
	scroll-snap-type: none;
	overflow-y: scroll;
}
